<div class="card text-white text-center" [ngClass]="{'bg-radient': bg === 'blue',
                                                    'bg-violet': bg ==='violet',
                                                    'bg-green': bg ==='green',
                                                    'bg-red': bg ==='red'}" >
    <div class="card-content">
        <div class="card-body">
            <fa-icon [icon]="faCat"></fa-icon>
            <h3 class="card-title text-white">8</h3>
            <span class="card-title text-white">Animaux</span>
        </div>
    </div>
</div>