.download {
    .logo{
        max-width: 300px;
    }

    .imgIphone , .imgAndroid{
        max-height: 60px;
    }

    .animals{
        background: url(../../assets/images/adopt-3.jpeg) no-repeat;
        background-size: cover;
        background-position:center ;
    }
}