<div class="text-center owl mb-5">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="textOnPicture">
                <p>Test</p>
            </div><img src="../../assets/img/dogs-5282275_1920.jpg">
        </ng-template>
        <ng-template carouselSlide>Slide 2</ng-template>
        <ng-template carouselSlide>Slide 3</ng-template>
    </owl-carousel-o>

    <div class="row mx-0">
        <div class="col-md-4 px-0">
            <img src="../../assets/img/kingfisher-2046453_1920.jpg">
        </div>
        <div class="col-md-4 px-0">
            <img src="../../assets/img/cat-551554_1920.jpg">
        </div>
        <div class="col-md-4 px-0">
            <img src="../../assets/img/men-2425121_1920.png">
        </div>
    </div>
</div>
<div class="mx-auto  text-center container">
    <h2 class="mb-3">Lorem Ipsum LALA</h2>
    <div class="row">
        <div class=" col-sm align-text-bottom text-center">

            <img class="img-fluid" src="../../assets/img/company.png" />
            <p>5.000<br /> organismes d'adoptions</p>
        </div>
        <div class="col-sm align-text-bottom text-center">
            <img class="img-fluid " src="../../assets/img/contract.png" />
            <p>5.000<br /> demandeurs</p>
        </div>
        <div class=" col-sm align-text-bottom text-center">
            <img class="img-fluid" src="../../assets/img/dgo-cats-house.png" />
            <p>5.000<br /> animaux de compagnie</p>
        </div>
    </div>
</div>
<div class="mb-5 background-petty" id="presentationPetty">
    <div class="textOnPicture pl-6 text-justify font-weight-bold">
        <h2>Pourquoi Petty ? </h2>
        <p>Curabitur aliquam blandit ante, quis aliquet nibh fringilla ultricies. Pellentesque sed sollicitudin elit, nec
            rhoncus nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consectetur risus in consectetur
            laoreet. Sed porttitor nisl vel risus facilisis pellentesque. Ut id neque eu eros facilisis maximus a quis
            purus. Nullam dignissim dui vitae nisi vehicula dignissim. Praesent sit amet metus sed lacus blandit tempor.
            Vivamus ornare lacus ac congue porta. Nam pulvinar dignissim mi, vel maximus nisl porttitor vel. Quisque risus
            magna, posuere eget ex quis, posuere porta nunc. Curabitur fermentum lorem ante, eget sagittis quam tincidunt
            vitae. Sed pretium, odio non faucibus volutpat, tellus sapien sodales felis, nec rhoncus arcu tellus sed odio.
            Nunc tempus fermentum mi nec luctus. Sed eget leo magna. Curabitur eu. </p>
        </div>
    <img class="pl-6 opacity-6 h-100" src="../../assets/img/dogs-5282275_1920.jpg" width="100%" height="500px" />
</div>
<div class="container text-center">
    <h2 class="m-0">PARTENAIRES</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card background-petty  box-shadow cardPartner">
                <img src="../../assets/img/LES-LOGOS-LES-PLUS-CONNUS-1.png" />
                <span>Organisme</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card background-petty box-shadow cardPartner">
                <img src="../../assets/img/l-histoire-inattendue-des-logos-celebres-538097.jpg" />
                <span>Equipe</span>
            </div>
        </div>
    </div>

</div>