<div class='pet-module'>
    <div class='thumbnail'>
        <a href="#">
            <img [src]= this.pet.profile ></a>
    </div>
    <div class='post-content'>
        <div class='category'>{{ pet.type }}</div>
        <h1 class='title'>{{ pet.name }} </h1>
        <span class="description">
            {{ pet.description }}
        </span>
        <div class='post-meta'>
            <span class='comments'>
                <a class="btn btn-primary" [routerLink]="['/pet/details', pet.id]">Détail</a>
            </span>
        </div>
    </div>
</div>