
#sidebar {
    // background: #6dccc3;
    background: url('/../../../assets/cat-2606759_1920.jpg') no-repeat -150px 0px;
    background-size: cover;

    color: #fff;
    transition: all 0.3s;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    &.active{
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        .sidebar-header h3 {
            display: none;
        }
        .sidebar-header strong {
            display: block;
        }
        ul {
            li a {
                padding: 20px 10px;
                text-align: center;
                font-size: 0.85em;
                i {
                    margin-right:  0;
                    display: block;
                    font-size: 1.8em;
                    margin-bottom: 5px;
                }
            }
            ul a {
                padding: 10px !important;
            }
        }
        .dropdown-toggle::after {
            top: auto;
            bottom: 10px;
            right: 50%;
            -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            transform: translateX(50%);
        }
    } 
    .sidebar-header strong {
        display: none;
    }
    ul li a {
        text-align: left;
    }
    .sidebar-header {
        padding: 20px;
        // background: #6dc6cc;
    }
    ul.components {
        padding: 20px 15px;
        h5{
            padding: 10px;
            color: rgba(255, 255, 255, 0.6);
            text-transform: uppercase;
            font-size: 0.8rem;
            margin: 0.75rem 0;
            font-weight: bold;
            white-space: nowrap;
            position: relative;
        }
        .list-group{
            a{
                background: none;
                color: rgba(255, 255, 255, 0.7);
                font-size: 0.88rem;
                -webkit-transition: height 300ms, color 300ms, background-color 300ms, -webkit-transform .2s;
                transition: height 300ms, color 300ms, background-color 300ms, -webkit-transform .2s;
                -o-transition: transform .2s, height 300ms, color 300ms, background-color 300ms;
                transition: transform .2s, height 300ms, color 300ms, background-color 300ms;
                transition: transform .2s, height 300ms, color 300ms, background-color 300ms, -webkit-transform .2s;
                display: block;
                line-height: 2.5rem;
                height: 2.5rem;
                padding: 0 1.5rem 0 45px;
                position: relative;
                border-radius: 0.25rem;
                white-space: nowrap;
                fa-icon{
                    opacity: .6;
                    text-align: center;
                    width: 34px;
                    height: 34px;
                    line-height: 34px;
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    margin-top: -17px;
                    font-size: 1.5rem;
                    -webkit-transition: color 300ms;
                    -o-transition: color 300ms;
                    transition: color 300ms;
                }
                &:hover{
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 5px;
                }
            }
        }
    }

    ul {
        li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
            &:hover {
                color: #7386D5;
                background: #fff;
            }
        }
        p {
            color: #fff;
            padding: 10px;
        }
    }
    
}