.download {
    .logo{
        max-width: 300px;
    }

    .titleMedia{
        color: #01fde5;
    }

    .imgIphone , .imgAndroid{
        text-align: center;
        img{
            margin: auto;
            max-height: 50px;
            max-width: 100px;
        }
    }

    .animals{
        background: url("../../../assets/images/adopt-3.svg") no-repeat;
        background-size: cover;
        background-position:center ;
    }

    .imgSocials{
        img{
            max-width: 50px;
        }
    }
}