@mixin icon-petty($rotation, $delayFadeIn, $delayRotate) {
  transform: rotate($rotation);
  transition: all ease-in-out $delayFadeIn;
  animation: fadeInBounce $delayFadeIn;
}

@mixin keyframes($rotation) {
  @keyframes rotateImage {
    0% {
      transform: rotate(0deg), scale(0.1);
    }

    100% {
      transform: rotate($rotation), scale(1);
    }
  }
}

@mixin fadeInBounceAnimation($scale) {
  @keyframes fadeInBounce {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.5;
      transform: scale($scale);
    }

    100% {
      opacity: 1;
    }
  }
}

.rotate {
  @include icon-petty(90deg, .4s, .2s);
  @include keyframes(90deg);
  @include fadeInBounceAnimation(3);
}

.rotate2 {
  @include icon-petty(125deg, .4s, .4s);
  @include keyframes(125deg);
  @include fadeInBounceAnimation(2);
}

.rotate3 {
  @include icon-petty(-5deg, .6s, .6s);
  @include keyframes(-5deg);
  @include fadeInBounceAnimation(1);
}

.rotate4 {
  @include icon-petty(50deg, 1s, .8s);
  @include keyframes(50deg);
  @include fadeInBounceAnimation(3);
}

.rotate5 {
  @include icon-petty(-40deg, 1s, 1s);
  @include keyframes(-40deg);
  @include fadeInBounceAnimation(2);
}

.rotate6 {
  @include icon-petty(-126deg, 1.5s, 1.2s);
  @include keyframes(-126deg);
  @include fadeInBounceAnimation(3);
}

.rotate7 {
  @include icon-petty(210deg, 1.5s, 1.2s);
  @include keyframes(210deg);
  @include fadeInBounceAnimation(1);
}

.logo-background{
  max-width:fit-content;
  margin: auto;
}
