// Bahij-SultanNahia
@font-face {
    font-family: 'Bahij';
    src: local("Bahij"), url('assets/fonts/Bahij-SultanNahia/Bahij-SultanNahia-Regular.ttf') format('truetype');
}

// Isidora
@font-face {
    font-family: 'Isidora';
    src: local("Isidora"), url('assets/fonts/Isidora/IsidoraSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Isidora-Bold';
    src: local("Isidora-Bold"), url('assets/fonts/Isidora/IsidoraSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Isidora-Italic';
    src: local("Isidora-Italic"), url('assets/fonts/Isidora/IsidoraSans-BlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Isidora-Thin';
    src: local("Isidora-Thin"), url('assets/fonts/Isidora/IsidoraSans-Thin.ttf') format('truetype');
}

// Mazzard
@font-face {
    font-family: 'Mazzard';
    src: local("Mazzard"), url('assets/fonts/Mazzard/MazzardH-Black.otf') format('opentype');
}
@font-face {
    font-family: 'Mazzard-Bold';
    src: local("Mazzard-Bold"), url('assets/fonts/Mazzard/MazzardH-Bold.otf') format('truetype');
}
@font-face {
    font-family: 'Mazzard-Italic';
    src: local("Mazzard-Italic"), url('assets/fonts/Mazzard/MazzardH-BlackItalic.otf') format('truetype');
}
@font-face {
    font-family: 'Mazzard-Thin';
    src: local("Mazzard-Thin"), url('assets/fonts/Mazzard/MazzardH-ExtraLight.otf') format('truetype');
}


// Porter-Bold
@font-face {
    font-family: 'Porter-Bold';
    src: local("Porter-Bold"), url("assets/fonts/Porter-Bold/Porter-Bold.ttf") format('truetype');
}
