@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Brusher';
  src: local('Brusher'), url(./fonts/Brusher.ttf) format('truetype');
}
@font-face {
  font-family: 'Garet';
  src: local('Garet'), url(./fonts/Garet-Book.otf) format('opentype');
}
@font-face {
  font-family: 'Garet bold';
  src: local('Garet bold'), url(./fonts/Garet\ Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Telegraf';
  src: local('Telegraf'), url(./fonts/PPTelegraf-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Fonseca bold';
  src: local('Fonseca bold'), url(./fonts/fonseca/Fonseca-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Fonseca';
  src: local('Fonseca'), url(./fonts/fonseca/Fonseca.ttf) format('truetype');
}
body{
  font-family: 'Garet'; 
}

h1 {
  font-family: 'Telegraf';
}

.fonseca{  
  font-family: 'Fonseca';
}

.brusher {
  font-family: 'Brusher';
}

.garet-bold {
  font-family: 'Garet bold';
}

.required:after {
  content:" *";
  color: red;
}