<div class="container emp-profile">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <img [src]="profile" alt="" />
        <div class="file btn btn-lg btn-primary">
          Change Photo
          <input type="file" (change)="upload($event)" accept=".png,.jpg" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-head">
        <h5>
          {{ pet.name }}
        </h5>
        <h6>
          {{ pet.age }} ans
        </h6>
        <p class="proile-rating">{{ pet.description }}</p>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-outline-danger"><i class="fa fa-times"></i></button>
    </div>
  </div>

  <div class="container">

    <div class="row text-center">
      <div class="col-sm-12 text-center">
        <hr />
        <span class="display-6">Gallerie</span>
        <hr />
      </div>
    </div>
    <div class="row">
      <div *ngFor="let img of pictures; let index = index;" class="card col-sm-4 col-xs-12 p-0 card-height">
        <img class="card-img" [src]="img" alt="image">
        <div class="card-img-overlay text-right">
          <button type="button" 
          [ngClass]="profile == img ? 'btn btn-primary': 'btn btn-outline-primary'"><i class="fa fa-trophy"></i></button>
          <button type="button" class="btn btn-outline-danger"><i class="fa fa-times"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>